/* === Question Count Screen === */
.question-count {
    width: 100%;
    max-width: 470px;
    margin: 0 auto;
}

.question-count__header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: var(--gap-small);
    margin-top: 1rem;
}

.question-count__description {
    margin-top: 0;
    color: var(--light-gray-color);
}

.question-count__selection-wrapper {
 margin-bottom: var(--gap-small);
}

.question-count__icon {
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 2;
    object-fit: cover;
}

.question-count__selection {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    }

.question-count__options {
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(auto-fit, minmax(min(150px, 100%), 1fr));
    margin-top: var(--gap-small);
}

.quiz__question {
    margin-bottom: 1rem;
    margin-top: 0;
    font-weight: 400;
}

.question-count__back {
    background: none;
    border: none;
    margin-top: 1.5rem;
    transition: var(--transition-fade);
    cursor: pointer;
}

.question-count__back-text {
    font-size: 1.1rem;
    color: var(--carrot-color);
    text-decoration: underline;
    transition: var(--transition-fade);
}

@media (hover: hover) and (pointer: fine) {
    .question-count__back:hover {
        color: var(--carrot-color)
    }

    .question-count__back-text:hover {
        color: var(--amethyst-color);
    }
}
