/* === Quiz === */

.quiz__container {
    position: relative;
    padding: 1.75rem 1rem;
    padding-bottom: 1rem;
    background-color: var(--lighter-gray-color);
}

@media (max-width: 768px) {
    .quiz__container {
        padding: 1.75rem var(--gap-small);
    }
}

.quiz__score-container {
    display: flex;
    justify-content: space-between;
    margin-top: var(--gap-small);
    margin-bottom: var(--gap-small);
}

.quiz__header-logo {
    display: flex;
    align-items: center;
    gap: var(--gap-small);
}

.quiz__header-logo-image {
  width: 40px;
  height: 40px;
  object-fit: contain;
  transition: var(--transition-fade);
}

@media (hover: hover) and (pointer: fine) {
    .quiz__header-logo-image:hover {
      filter: var(--filter-sepia);
    }
}

.quiz__selection {
    margin: 0;
}

.quiz__headertext {
    display: flex;
    gap: var(--gap-small);
}

.quiz__headertext p {
    font-weight: 700;
}

[data-difficulty="hero"] .quiz__headertext {
    color: var(--amethyst-color);
}

[data-difficulty="medium"] .quiz__headertext {
    color: var(--carrot-color);
}

.quiz__question-counter {
    display: flex;
    color: var(--dark-gray-color);
}

@media (max-width: 768px) {
    .quiz__question-image-container {
        width: 100%;
    }

    .quiz__question-image {
        max-height: max(225px, 30vh)
    }
}

@media (max-width: 768px) {
    .quiz__answer  {
        gap: var(--gap-small);
    }
}
