.quiz__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-small);
}

.background-knowledge {
    margin-top: var(--gap-small);
}

.background-knowledge__content {
    text-wrap: auto;
}
