QUIZ_HERO_APP_PORT=8080
QUIZ_HERO_MYSQL_PORT=3307

QUIZ_HERO_DB_NAME=quiz_hero
QUIZ_HERO_DB_USER=quiz_hero
QUIZ_HERO_DB_PASSWORD=quiz_hero_local
QUIZ_HERO_DB_ROOT_PASSWORD=quiz_hero_root_local

QUIZ_HERO_ADMIN_USER=admin
QUIZ_HERO_ADMIN_PASSWORD=admin123
QUIZ_HERO_USER_TOKEN_SECRET=quiz_hero_local_user_token_secret
