:root {
    --primary-color: #3498DB;
    --dark-color: #1E1E1E;
    --dark-gray-color: #444;
    --light-gray-color: #666;
    --clouds-color: #ecf0f1;
    --mandarin-color: #e74c3c;
    --greensea-color: #16A085;
    --amethyst-color: #9B59B6;
    --carrot-color:#E67E22;

    --gap: 0.75rem;
    --transition-fade: all 0.3s ease;
}

body {
    background-color: var(--dark-color);
    color: var(--clouds-color);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    max-width: 800px;
    text-align: center;
}

.hide {
    display: none !important;
}

.category {
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));

}

.category__btn {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: var(--clouds-color);
    background-color: var(--dark-gray-color);
    border: none;
    transition: var(--transition-fade);
    cursor: pointer;
}

.category__btn:hover {
    background-color: var(--carrot-color);
}

.quiz__container {
    border: 2px solid var(--dark-gray-color);
    padding: 20px;
}

.quiz__score_container {
    display: flex;
    justify-content: space-between;
}

.quiz__counter_questions {
    display: flex;
  }

.quiz.quiz__difficult_question .quiz__container {
    border-color: var(--amethyst-color);
}

.quiz__question_image_container {
    margin-bottom: var(--gap);
    max-height: max(300px, 30vh)
}

.quiz__question_image {
    max-inline-size: 100%;
    block-size: auto;
    max-height: max(300px, 30vh)
}

.quiz__answer {
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
}

.quiz__answer_btn {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid transparent;
    background-color: var(--dark-gray-color);
    color: var(--clouds-color);
    transition: var(--transition-fade);
}

.quiz__answer_btn:hover {
    background-color: var(--carrot-color);
}

.quiz__answer_btn:disabled {
    background-color: var(--dark-gray-color);
    cursor: default;
}

.quiz__answer_btn.correct {
    background-color: var(--greensea-color);
}

.quiz__answer_btn.incorrect {
    background-color: var(--mandarin-color);
}

.quiz__next_btn,
.quiz__abort_btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: var(--light-gray-color);
    color: var(--clouds-color);
}

.quiz__feedback_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
}

.quiz__feedback_icon {
    height: 24px;
    width: 24px;
}

.quiz__feedback {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

