body {
    background-color: #1a1a1a; /* Dunkler Hintergrund */
    color: #f0f0f0; /* Helle Schriftfarbe */
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

#category-container, #quiz-content {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #333; /* Dunkles Grau für Container */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #4CAF50; /* Grüner Button */
    color: #f0f0f0;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.answer-btn {
    display: block;
    width: 100%;
    margin: 10px auto;
    padding: 15px;
    background-color: #555; /* Dunkelgrau für Antwortbuttons */
    color: #f0f0f0;
    border: none;
    cursor: pointer;
}

.answer-btn:hover {
    opacity: 0.8;
}

.correct {
    border: 2px solid #4CAF50; /* Grüner Rahmen für richtige Antwort */
}

.incorrect {
    border: 2px solid #FF5733; /* Roter Rahmen für falsche Antwort */
}

#question-image {
    max-width: 100%;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Weiterer Stil für besonders schwere Fragen */
.difficult-question {
    border: 4px solid #FF5733; /* Rote Border für schweres Frage */
    padding: 15px; /* Zusätzlicher Innenabstand für hervorgehobene Fragen */
}