/* === Buttons === */
.btn {
    display: block;
    max-width: 100%;
    padding: 10px;
    font-size: 16px;
    color: var(--clouds-color); 
    background-color: var(--dark-gray-color);
    border: none;
    transition: var(--transition-fade);
    cursor: pointer;
    text-decoration: none;
}

.btn:visited,
.btn:focus,
.btn:hover {
    color: var(--clouds-color);
    text-decoration: none;
}

.btn:hover {
    background-color: var(--carrot-color);
}

.btn--disabled {
    opacity: 0.25;
    background-color: var(--dark-gray-color) !important;
    cursor: not-allowed;
    display: none;
}

